

<div class="form">
<div class="f1">Join the adventure</div> <br>
<%= link_to "Sign up with Facebook", "/auth/facebook"%>  <i class="fa fa-facebook-official" style="color: white;"></i>

<br><br>

<%= form_for @user, method: 'POST', url: '/signup' do |u| %>
	<%= u.text_field :first_name, placeholder: :first_name %>
	<%= u.text_field :last_name, placeholder: :last_name %>
	<%= u.text_field :email, placeholder: :email %>
	<%= u.password_field :password, placeholder: :password %>
	<%= u.password_field :password_confirmation, placeholder: 'Confirm password' %>
	<%= u.submit %>
<% end %>
</div>
<div class="form-bk"></div>
<img class="thingy2" src="<%= asset_path('testshape.svg')%>" alt="Logo Image">