<!DOCTYPE html>
<html>
<head>
  <title>Selmaandwang</title>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.21/paper-full.min.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
<img class="bug" alt="Brand" src="<%= asset_path('SnW.svg')%>">
<%= render 'application/dots' %>
<%= yield %>

</header>
</html>
