<canvas id="myCanvas" resize></canvas>


  <!-- StoryBoards Begin -->
  
  <div class="main">
      
      <article id="scroll-link-0" class="scenarios">
        <div class="b1">WELCOME!<br></div>
          <div class="p1">Help me find the link between a young girl, and extravagent monster, and a librarian.</div>
          <div class="scn-btns-container">
            <button class="scn-btns v1" id="start" >BEGIN</button>
          </div>  
      </article>
    	<article id="scroll-link-1" class="scenarios">
        <div class="b1">SCENARIO<br></div>
          <div class="p1">Lorem Ipsum, blah, blah, blah.</div>
          <div class="scn-btns-container">
            <%= button_to ': )','/dots?param1=1', :class =>" scn-btns v1", :remote => true, :id =>"a" %>
            <%= button_to ': |', '/dots?param1=2', :class =>" scn-btns v2", :remote => true,  :id=>"b" %>
            <%= button_to ': /', '/dots?param1=3', :class =>"scn-btns v3", :remote => true,  :id=>"c" %>
            <%= button_to ': (', '/dots?param1=4', :class =>"scn-btns v4", :remote => true,  :id=>"d" %>
          </div>  
      </article>
      <article  id="scroll-link-2" class="scenarios">
        <div class="b1">DREAMTIME<br></div>
          <div class="p1">Who would you choose to be in dream time?<br> Selma? Wang? Or the Librarian?</div>
          <div class="scn-btns-container">
            <%= button_to ': )','/dots?param1=5', :class =>"  scn-btns v1", :remote => true, :id =>"e" %>
            <%= button_to ': |', '/dots?param1=6', :class =>" scn-btns v2", :remote => true,  :id=>"f" %>
            <%= button_to ': /', '/dots?param1=7', :class =>"scn-btns v3", :remote => true,  :id=>"g" %>
            <%= button_to ': (', '/dots?param1=8', :class =>"scn-btns v4", :remote => true,  :id=>"h" %>
          </div>  
      </article>
      <article id="scroll-link-3" class="scenarios">
        <div class="b1">IN BETWEEN<br></div>
          <div class="p1">How would you help Selma in her nightmare?</div>
          <div class="scn-btns-container">
            <%= button_to ': )','/dots?param1=9', :class =>"scn-btns v1", :remote => true, :id =>"i" %>
            <%= button_to ': |', '/dots?param1=10', :class =>" scn-btns v2", :remote => true,  :id=>"j" %>
            <%= button_to ': /', '/dots?param1=11', :class =>"scn-btns v3", :remote => true,  :id=>"k" %>
            <%= button_to ': (', '/dots?param1=12', :class =>"scn-btns v4", :remote => true,  :id=>"l" %>
          </div>  
      </article>
      <article id="scroll-link-4" class="scenarios">
        <div class="b1">YEAR 2040<br></div>
          <div class="p1">How would you choose to travel between Dreamtime and Realtime?</div>
          <div class="scn-btns-container">
            <%= button_to ': )','/dots?param1=13', :class =>"scn-btns v1", :remote => true, :id =>"m" %>
            <%= button_to ': |', '/dots?param1=14', :class =>" scn-btns v2", :remote => true,  :id=>"n" %>
            <%= button_to ': /', '/dots?param1=15', :class =>"scn-btns v3", :remote => true,  :id=>"o" %>
            <%= button_to ': (', '/dots?param1=16', :class =>"scn-btns v4", :remote => true,  :id=>"p" %>
          </div>  
      </article>
      <article id="scroll-link-4" class="scenarios">
        <div class="b1">FIN.<br></div>
          <div class="p1">Thanks for you input</div>
          <div class="scn-btns-container">
            <!-- <button class="scn-btns v1" id="a" >More Info</button> -->
            <!-- <button class="scn-btns v1" id="a" >Leave a Note</button> -->
            <!-- Modal -->
            <div class="modal">
              <label for="modal-1">
               <div class="modal-trigger scn-btns v1">More Info</div>
              </label>
              <input class="modal-state" id="modal-1" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-1"></label>
                  <h1>Modal Title</h1>
                  <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
                  <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
                </div>
            </div>
          </div>
          <!-- Modal end -->
          </div>
      </article>
      <article id="scroll-link-5" class="scenarios">
        <div class="b1">ABOUT<br></div>
        <div class="p1">Selma and Wang is...</div>
      </article>
      <article id="scroll-link-6" class="scenarios">
        <div class="b1">BIO<br></div>
        <div class="p1">Marie Joxe-Collins is...</div>
      </article>
  </div>  
  
<%= render 'dots' %>      





