<!DOCTYPE html>
<html>
<head>
  <title>Selmaandwang</title>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.21/paper-full.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js'></script>
  <script src='http://cdn.lukej.me/canvas2image/0.1/canvas2image.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
  <%= csrf_meta_tags %>
</head>
	<!-- logo -->
	<!-- <img class="bug" src="<%= asset_path('SnW.svg')%>" alt="Logo Image"></a> -->
	
	<!-- Navigation -->
	<div class="navigation" role="banner">
 	 <div class="navigation-wrapper">
    	<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    	<nav role="navigation">
      	<ul id="js-navigation-menu" class="navigation-menu show">
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-link-1">1</a></li>
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-link-2">2</a></li>
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-link-3">3</a></li>
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-link-4">4</a></li>
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-on-page-top">▲</a></li>
      	<% if current_user %>
        	<li class="nav-link"><%= link_to 'Log Out', logout_path %></li>
      	<% else %>
        	<li class="nav-link"><%= link_to 'Log In', login_path %></li>
        	<li class="nav-link"><%= link_to 'Sign Up', signup_path %></li>
      	<% end %>
      	<div href="javascript:void(0)" class="navigation-tools">
	      	<!-- Buttons -->
					<button class="signup" id="a" >Happy</button>
					<button class="signup" id="b" >Eh</button>
					<button class="signup" id="c" >Kinda Happy</button>
					<button class="signup" id="d" >Sad</button>
				</div>
      	</ul>
      	</div>
    	</nav>
  	</div>
	</div>

<body>

<%= yield %>

</body>
</html>
