<!DOCTYPE html>
<html>
<head>
  <title>Selma &amp; Wang</title>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.21/paper-full.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js'></script>
  <script src='http://cdn.lukej.me/canvas2image/0.1/canvas2image.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
  <script src='https://cdn.jsdelivr.net/filesaver.js/0.2/FileSaver.js'></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
  <meta name="viewport" content="width=device-width">
  <!-- <meta name="viewport" content="maximum-scale=1"> -->
  <%= favicon_link_tag 'selmaicon.ico' %>
  <%= favicon_link_tag 'ios-selma-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= csrf_meta_tags %>
</head>
	<!-- logo -->
 <header>
  <div class="loading-icon"><i class="fa fa-spinner fa-3x fa-pulse"></i></div>
  <!-- Loading Icon -->
	<a href="/"><img class="bug" src="<%= asset_path('SnW_2a.svg')%>" alt="Logo Image"></a>
	<!-- Navigation -->
	<div class="navigation" role="banner">
 	 <div class="navigation-wrapper">
    	<!-- <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars fa-2x nav-link"></i></a> -->
    	<nav role="navigation">
        <ul class="info-btn-container">
          <li class="scroll-btn"><a class="scroll-on-page-link" href="/" id="going-home"><i class="fa fa-home"></i></i></a></li>
          <li class="scroll-btn"><a class="scroll-on-page-link" href="/music-player" id=""><i class="fa fa-music"></i></a></li>
        </ul>
      	</div>
    	</nav>
      <!-- scroll buttons -->
      <ul class="scroll-btn-container">
        <li class="scroll-btn"><a class="scroll-on-page-link" id="going-up"><i class="fa fa-chevron-up"></i></a></li>
        <li class="scroll-btn"><a class="scroll-on-page-link" id="going-down"><i class="fa fa-chevron-down"></i></a></li>
      </ul>
      <!-- Link Buttons -->
      <ul class="other-btn-container">
        <li for="modal-1" class="scroll-btn"><a class="modal-trigger scroll-on-page-link"><label for="modal-1"><i class="fa fa-pencil"></i></i></label></a></li>
        
      </ul>
  	</div>
	</div>
</header> 

<!-- Modal -->
  <div class="modal">
    <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
            <label class="modal-close" for="modal-1"></label>
              <%= form_for Note.new() do |f| %>
                <%= f.text_field :name %>
                <%= f.text_area :text %>
                <%= f.submit %>
              <% end %>
        </div>
      </div>
  </div>
<!-- Modal end -->

<body class="<%= params[:controller] %> <%= params[:action] %> ">

<%= yield %>

</body>
</html>
