<!DOCTYPE html>
<html>
<head>
  <title>Selmaandwang</title>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.21/paper-full.min.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navigation -->
	<header class="navigation" role="banner">
 	 <div class="navigation-wrapper">
    	<a href="javascript:void(0)" class="logo"><!-- <img src="<%= asset_path('SnW.svg')%>" alt="Logo Image"> --></a>
    	<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    	<nav role="navigation">
      	<ul id="js-navigation-menu" class="navigation-menu show">
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-link-1">First Scroll Link</a></li>
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-link-2">Second Link</a></li>
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-link-3">Last Link</a></li>
        	<li class="nav-link"><a class="scroll-on-page-link" href="#scroll-on-page-top">Top</a></li>
      	<% if current_user %>
        	<li class="nav-link"><%= link_to 'Log Out', logout_path %></li>
      	<% else %>
        	<li class="nav-link"><%= link_to 'Log In', login_path %></li>
        	<li class="nav-link"><%= link_to 'Sign Up', signup_path %></li>
      	<% end %>
      	</div>
    	</nav>
  	</div>
	</header>

<%= yield %>

</body>
</html>
